.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-family: "Times New Roman", Times, serif;
	font-size: 1em;
}

.tab button:hover {
	background-color: #ddd;
}

.tab button:active {
	background-color: #ccc;
}

.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}

.dropbtn {
	background-color: #FFFFFF;
	color: black;
	padding: 2px 10px;
	font-size: 1em;
	min-width: 102px;
	border: 1px solid black;
	cursor: pointer;
	font-family: "Times New Roman", Times, serif;
}

.dropbtn:hover, .dropbtn:focus {
	background-color: #BCBCBC;
	outline: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #ffffff;
	min-width: 70px;
	/*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/
	/*border: 1px solid black;*/
	/*border-bottom: 0px solid black;*/
	z-index: 1;
}

.dropdown-content button {
	color: black;
	padding: 4px 20px;
	min-width: 102px;
	text-decoration: none;
	border: 1px solid black;
	display: block;
	font-family: "Times New Roman", Times, serif;
	font-size: 0.8em;
	border-top: none;
}

.dropdown-content button:hover {
	background-color: #ddd;
}

.dropdown-content button:focus {
	outline: none;
}

.show {
	display: block;
}

.atkbtn {
	border: 1px solid black;
	padding: 2px 10px;
	min-width: 102px;
	font-family: "Times New Roman", Times, serif;
	font-size: 1em;
}

.atkbtn:hover {
	background-color: #bcbcbc;
}

.atkbtn:focus {
	outline: none;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th {
	text-align: left;
}